.body-container {
    display: flex;
    height: 90%;
    background-color: #fff;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border: 1px solid #42a2a2;
    border-radius: 25px;
    background-color: #ececec;
}
.login-form-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    white-space: nowrap;
}
.login-form-container .avatar {
    background-color: #42a2a2;
    width: 65px;
    height: 65px;
    transform: translateY(-80%);
}
.login-form .email-input, 
.login-form .password-input {
    width: 100%;
    margin-bottom: 40px;
}
.login-form .email-input label,
.login-form .password-input label {
    font-size: 21px;
    font-weight: 500;
    transition: 0.3s ease;
}
.login-form .email-input input,
.login-form .password-input input {
    font-size: 20px;
    font-weight: 500;
}

button.login-submit {
    background-color: #42a2a2;
    color: white;
    margin-top: 24px;
    height: 60px;
    font-size: 24px;
}
button.login-submit:hover {
    background-color: #3d9292;
}
button.login-submit[disabled] {
    cursor: none;
    background-color: #989898;
    color: white;
}
.login-form .xgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    white-space: nowrap;
}
.login-form .xgroup p,
.login-form .xgroup a{
    font-size: 18px;
    font-weight: 500;
    color: #42a2a2;
    text-decoration: none;
}
.login-form .xgroup a:hover {
    text-decoration: underline;
}

@media (max-width: 1150px) {
    .login-form-container h2 {
        font-size: 23px;
    }
    .login-form .xgroup p,.login-form .xgroup a{
        font-size: 16px;
    }
}
@media (max-width: 970px) {
    .xgroup {
        flex-direction: column;
    }
    .login-form .xgroup p,.login-form .xgroup a{
        padding-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .login-form-container h2 {
        font-size: 21px;
    }
}
@media (max-width: 596px) {
    .login-form-container h2 {
        font-size: 18px;
    }
    .login-form .xgroup p,.login-form .xgroup a{
        font-size: 14px;
    }
}