.custom-toast-container {
    .Toastify__toast--default {
        background: none;
        box-shadow: none;
    }

    .Toastify__toast-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}