hr.profileDivider {
    width: 100%;
    max-width: 130px;
    background: #fdd835;
    height: 2px;
    margin: 15px 0 50px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    border-style: inset;
    border-width: 0;
}
hr.profileOptionsDivider {
    color: #979797;
    width: 100%;
    max-width: 400px;
}
.accountOptions {
    width: 50%;
    margin: 30px;
    white-space: nowrap;
}
.accountOptions a {
    text-decoration: none;
    color: #494949;
}
p.myAccOptionsTitle {
    font-size: 30px;
}
