.footer-container1 {
    padding: 5% 6% 2% 6%;
    background-color: #181818;
    color: #fff;
}
.footerLogo {
    margin-bottom: 15px;
}
.footerLogo a {
    font-size: 30px;
    color: #fdd835;
    font-weight: 900;
    font-family: 'Montserrat';
}
.footerLogo a sup {
    font-size: 15px;
    font-weight: 700;
}
footer a {
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 3px;
    vertical-align: baseline;
    background: transparent;
    color: #fff;
    outline: none;
}
.footer-container1 .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.footer-container1 .col-md-3,
.footer-container1 .col-sm-6 {
    padding: 8px 0px;
    width: 23%;
}
.footerMenuSearch {
    width: 31%;
}
@media (max-width: 1190px) {
    .footer-container1 .col-md-3,
    .footer-container1 .col-sm-6 {
        width: 50%;
    }  
}
@media (max-width: 736px) {
    .footer-container1 .col-md-3,
    .footer-container1 .col-sm-6 {
        width: 100%;
    }
    .footerMenuSearch {
        display: none;
    }
    footer ul li, .footerMenuSocial .socialIcons{
        display: inline-block;
    }
    .footerMenu, .footerMenuSocial {
        margin-bottom: 18px;
    }
    .footerMenu ul li.li::after {
        padding-right: 5px;
        content: ' |';
    }
    .footerMenuSocial .fb-insta {
        display: inline;
    }
    .fb-insta .socialLogo {
        vertical-align: 0%;
        margin-right: 10px;
    }
    .footerMenuSocial .fb-insta a span{
        display: none;
    }
    .securePayment {
        display: none;
    }
    footer .section2 {
        border-top: 2px solid rgba(219, 219, 219, 0.4);
    }
    .footer-container1 heading {
        margin-bottom: 15px;
    }
    .footer-container2 h5 {
        font-size: 10px;
        font-weight: 400;
    }
}
.footer-container1 .list-group {
    background-color: transparent;
    color: #fff;
    border: none;
}

footer ul {
    list-style-type: none;
}
footer heading {
    color: #fdd835;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}
.footer-container1 input {
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid #fdd835;
    color: #fff;
    width: 45%;
    height: 34px;
    padding: 0px 12px;
    font-size: 14px;
    color: #555;
}
.footer-container1 input:focus {
    outline: none;
}
.footer-container1 button {
    border: 1px solid #fdd835;
    background-color: #fdd835;
    color: #000;
    height: 36px;
    width: 45%;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.fb-insta {
    display: flex;
    flex-direction: column;
}
.fb-insta .facebook_logo,
.fb-insta .instagram_logo {
    margin-bottom: 10px;
}
footer .section2 {
    padding-top: 1rem;
}


.footer-container2 {
    background-image: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    padding: 1rem;
}
.footer-container2 div {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.footer-container2 h5 {
    white-space: nowrap;
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 600;
}
.footer-container2 .neon {
    color: #f4730a;
    font-size: 20px;
    text-shadow: 0 0 12px #41f40a;
}
.githubLogo {
    color: #181818;
    vertical-align: -20%;
}
.socialLogo {
    vertical-align: -18%;
}
.socialLogo.fbLogo {
    color: #1877f2;
    border-radius: 6px;
}
.socialLogo.instaLogo {
    color: rgb(241, 61, 38);
    border-radius: 6px;
}
.twitterLogo {
    color: #00d2ff;
}
.pinterestLogo {
    color: red;
    background-color: #fff;
    border-radius: 50%;
}
.appleLogo {
    color: silver;
}
.historyLogo, .rupeeLogo {
    vertical-align: -23%;
}
.android_app:hover, .ios_app:hover {
    transform: scale(1.1);
}