.dropDownWrapper {
    line-height: 52px;
    min-height: 1px;
    float: left;
    width: 41.66666667%;
    position: static;
}
.mainHeaderCols {
    padding: 0!important;
    white-space: nowrap;
    text-align: left;
}
.searchMyAccount {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 9px;
    position: relative;
}