.topBar {
    padding: 8px 0 6px;
    max-width: 1170px;
    margin: 0 auto;
    font-size: 10px;
    font-weight: 500;
}
.pull-left {
    float: left;
}
.headerLinks {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    margin: 8px;
}
[class*=icon_] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mobileIcon {
    font-size: 10px;
    margin-right: 3px;
}
.pull-right {
    float: right;
}