.menuWrapper {
    color: rgb(51, 51, 51);
}
.menuSelectWrpr {
    display: inline-block;
    height: 51px;
    transition: left .2s ease-out, border-color .1s ease-in;
    border-bottom: 4px solid transparent;
    position: relative;
}
.menuWrapper:hover .menuSelectLink {
    border-bottom-color: #fdd835;
}
.menuWrapper a {
    color: rgba(0,0,0,.9);
}
.menuSelect{
    cursor: pointer;
}
.menuSelect span {
    display: inline-table;
    font-size: 13px;
    vertical-align: middle;
    line-height: 45px;
    padding: 0 11px;
    letter-spacing: 1px;
    position: relative;
}