.menuWrapper {
    color: rgb(51, 51, 51);
    padding-right: 20px;
}
.menuWrapper a{
    text-decoration: none;
}
.menuWrapper a:hover .menuSelectLink {
    border-bottom-color: #fdd835;
}
.menuWrapper a:active {
    border-bottom-color: #fdd835;
}