hr.checkoutDivider {
    width: 100%;
    max-width: 130px;
    background: #fdd835;
    height: 2px;
    margin: 15px 0 50px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    border-style: inset;
    border-width: 0;
}
button.addressButton, 
button.changeAddressButton,
div.addressWrapper,
button.paymentButton,
button.placeOrderButton {
    white-space: nowrap;
}
p.checkoutItemId,
p.checkoutItemName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
button.paymentButton,
button.placeOrderButton,
.stripePayment {
    width: 40%;
}
button.paymentButton {
    color: #42a2a2;
    border-color: #42a2a2;
}
button.paymentButton:hover {
    color: #42a2a2;
    border-color: #42a2a2;
}
@media (max-width: 599px) {
    button.paymentButton,
    button.placeOrderButton {
        width: 50%;
        font-size: 11px;
        overflow: hidden;
    }
}

div.confirmedOrderWrapper {
    margin-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.confirmedOrder {
    text-align: center;
    padding: 40px 60px;
}