.fadeLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.categories-container {
    margin: 20px;
}

/* Custom styles for carousel slide buttons */
.custom-dot-list-style button {
    background-color: #969696;
}
  
  