div.breadcrumbs {
    margin-top: 80px;
}
div.productWrapper {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.displayImage {
    border: 0.5px solid rgb(81, 204, 204);
    width: 80%;
    height: 700px;
    object-fit: cover;
}
.imageGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 700px;
}
.imageGallery img {
    border: 3px solid rgb(81, 204, 204);
    width: 80px;
    margin-bottom: 10px;
}
  
.galleryImages {
    display: flex;
    margin-bottom: 10px;
}

.productDetails .brandName {
    color: rgb(79, 83, 98);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}
.productDetails .productName {
    color: rgb(115, 115, 115);
    font-size: 18px;
    margin-bottom: 12px;
}
.productDetails .productPrice {
    font-size: 24px;
    font-weight: bold;
}
.productDetails .productPrice span {
    font-size: 18px;
    font-weight: 400;
}
.productDetails .priceTag {
    color: rgb(148, 148, 148);
    font-size: 13px;
}
.productDetails .productColor {
    font-size: 18px;
    font-weight: 600;
    color: rgb(79, 83, 98);
    margin-top: 15px;
    margin-bottom: 16px;
}
.productDetails .productColor strong {
    color: #2d2d2d;
    font-size: 20px;
}
.productDetails .productTags {
    text-transform: uppercase;
    background-color: rgba(82, 82, 82, 0.8);
    color: rgb(255, 255, 255);
    border: none;
    padding: 3px 8px;
    text-align: center;
    white-space: nowrap;
}

button.sizeButton {
    width: 48px;
    height: 48px;
    color: #000;
    margin: 5px 9px 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    line-height: 45px;
}
button.sizeButton.active {
    border: 1px solid #42a2a2;
    background-color: #000;
    color: #fff;
}
.addToCartandWishButton {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
button.add_to_cart {
    background-color: rgb(255, 216, 77);
    color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 44px;
    box-shadow: none;
    gap: 8px;
    font-weight: 600;
    white-space: nowrap;
}
button.add_to_cart:hover {
    background-color: rgb(253, 209, 50);
    box-shadow: none;
}
button.add_to_wishlist {
    border-color: rgb(214 ,214, 214);
    color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 44px;
    box-shadow: none;
    gap: 8px;
    font-weight: 600;
}
button.add_to_wishlist:hover {
    border-color: rgb(179, 179, 179);
    box-shadow: none;
    background-color: transparent;
}
.trustContainerWrapper {
    padding: 15px;
    width: 75%;
}
.trustContainer {
    display: flex;
    justify-content: space-between;
}
.trustBadgeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trustBadgeContainer img {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    color: #8f98a9;
}
.trustBadgeTitle {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #8f98a9;
    width: 79px;
}
.description-wrapper {
    width: 85%;
}
button.description_button {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 1px;
    color: #2d2d2d;
    margin-top: 15px;
    width: 75%;
    white-space: nowrap;
}
button.description_button:hover {
    background-color: transparent;
}
button.description_button span {
    padding-left: 55%;
    font-size: x-large;

}
button.description_button strong {
    margin-left: 8px;
    text-transform: capitalize;
}
.description-wrapper .descriptionDetails {
    font-size: 13px;
    margin-bottom: 2rem;
    color: rgb(212, 212, 212);
    text-align: justify;
}
div.reviewsHolder {
    max-width: 400px;
}
div.reviewsHolder > p {
    border-bottom: 3px solid #fdd835;
    margin-bottom: 15px;
}
.usersRatings {
    display: flex;
    margin-bottom: 15px;
    border: 0.3px solid rgb(212, 212, 212);
    border-radius: 4px;
    padding: 5px;
}
.usersRatings p {
    color: #999999;
}
div.ratingsUserAvatar {
    margin-right: 7px;
}
@media (max-width: 1199px) {
    .displayImage {
        width: 60%;
        height: auto;
        object-fit: cover;
    }
    .imageGallery {
        display: none;
    }
}
@media (max-width: 899px) {
    button.add_to_cart, button.add_to_wishlist {
        width: 33%;
    }
}
@media (max-width: 599px) {
    button.add_to_cart, button.add_to_wishlist {
        width: 36%;
    }
}
@media (max-width: 450px) {
    button.add_to_cart, button.add_to_wishlist {
        width: 38%;
    }
}