* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    vertical-align: baseline;
    background: transparent;
    line-height: 1;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    overflow-y: overlay;
    position: initial;
    width: auto;
    top: initial;
}
