@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  overflow-y: overlay;
  position: initial;
  width: auto;
  top: initial;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
