.empty_cart_container {
    padding: 30px 0 0;
    margin: 80px auto;
    text-align: center;
    font-size: 18px;
    max-width: 430px;
    min-height: 200px;
}
p.empty_title {
    color: #484949;
    font-size: 26px;
    font-weight: 400;
    margin-top: 10px;
}
a.empty_cart_button {
    background-color: #51cccc;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 10px;
    width: 200px;
    height: 40px;
    box-shadow: none;
}
a.empty_cart_button:hover {
    background-color: #51cccc;
    opacity: 0.7;
    box-shadow: none;
}

div.cartsCard {
    margin: 2em;
    border: .2px solid rgb(206, 206, 206);
    border-radius: 7px;
    box-shadow: none;
}
div.productNameWrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.breadcrumbsAndOrderButton {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
div.cartBreadcrumbs {
    margin-top: 100px;
    margin-left: 50px;
}
div.cartBreadcrumbs a {
    text-decoration: none;
    color: #000;
}

div.orderButtonWrapper {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    z-index: 1;
    top: 65px;
    right: 0;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
}
button.orderNowButton {
    background-color: rgb(66, 162, 162);
    box-shadow: none;
    font-weight: 600;
}
button.orderNowButton:hover {
    background-color: rgb(66, 162, 162);
    box-shadow: none;
}
p.subTotal {
    font-size: 20px;
}

button.removeFromCartButton {
    color: #555657;
    background-color: transparent;
    font-weight: 600;
    text-transform: capitalize;
}
button.removeFromCartButton:hover {
    background-color: #fff8db;
}
@media (max-width: 1199px) {
    div.orderButtonWrapper {
        top: 66px;
    }
}
@media (max-width: 699px) {
    div.breadcrumbsAndOrderButton {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    div.orderButtonWrapper {
        margin-left: 50px;
        position: inherit;
        padding: 0;
        z-index: 0;
    }
}
@media (max-width: 399px) {
    div.orderButtonWrapper {
        flex-direction: column;
        gap: 10px;
    }
}