div.productCards {
    margin: 2em;
    border: .2px solid rgb(206, 206, 206);
    border-radius: 7px;
    box-shadow: none;
}
div.productNameWrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.breadcrumbs {
    margin-top: 100px;
    margin-left: 50px;
}
div.breadcrumbs a {
    text-decoration: none;
    color: #000;
}
div.priceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.sortButtonContainer button {
    color: #000;
    border-color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
.sortButtonContainer button:hover {
    color: #000;
    border-color: #000;
    background-color: transparent;
}
