div.productCards {
    margin-top: 3em;
    width: 17%;
    border: .2px solid rgb(206, 206, 206);
    border-radius: 7px;
    box-shadow: none;
}
div.productImage {
    width: 100%;
    height: 15%;
}
div.productNameWrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.rowContainer {
    margin-top: 100px;
}
div.priceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
